# Joins (Compartir pandas cheat)

In [1]:
import pandas as pd

In [3]:
# Crear primer dataframe
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
 'first': range(7)})

In [4]:
# Crear segundo dataframe
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'second': range(3)})

In [ ]:
# Visualizar df1
df1

In [ ]:
# Visualizar df2
df2

In [ ]:
# Left join
pd.merge(left=df1,right=df2, on ='key',how='left')

In [ ]:
# Inner join
pd.merge(df1,df2, on ='key',how= 'inner')

In [ ]:
# Full outer join
pd.merge(df1,df2, on ='key',how= 'outer')

# Agregaciones, imputaciones, concatenación y descripciones

In [13]:
import pandas as pd

In [ ]:
tabla1=pd.read_excel('clase0.xlsx')
tabla1

In [ ]:
tabla2=pd.read_excel('clase1.xlsx')
tabla2

In [ ]:
# Concatenar las tablas e imputar valores ausentes

conc=pd.concat([tabla1,tabla2],axis=0)
conc

In [ ]:
# Imputar valores
conc_imputado=conc.fillna(0)
conc_imputado

In [ ]:
# Que pasa si se hace el dropna
conc.dropna()

In [ ]:
# Agregar con max
conc.groupby(['key1'])['data'].max()

In [ ]:
# Problema de imputar valores

conc_imputado.groupby(['key1'])['data'].mean()
tabla1.groupby(['key1'])['data'].mean()

In [ ]:
# Agregacion con merge

tabla=pd.merge(tabla1,tabla2,how='inner',on=['key1','key2'])
tabla

agregacion=tabla.groupby(['key1','key2']).sum(['data','event1','event2'])
agregacion

In [ ]:
agregacion.describe()

# Actividad en clase

### Actividad 1

In [25]:
import pandas as pd

In [26]:
orders=pd.read_csv('orders.csv')
employees=pd.read_csv('employees.csv')
customers=pd.read_csv('customers.csv')

In [34]:
# Mas ha atendido

maximoAtenciones=pd.merge(orders,employees,on='EmployeeID',how='left')[['FirstName','LastName','OrderID']]
maximoAtenciones

     FirstName    LastName  OrderID
0      Steven    Buchanan     10248
1     Michael      Suyama     10249
2    Margaret     Peacock     10250
3       Janet   Leverling     10251
4    Margaret     Peacock     10252
..         ...         ...      ...
191   Michael      Suyama     10439
192  Margaret     Peacock     10440
193     Janet   Leverling     10441
194     Janet   Leverling     10442
195     Laura    Callahan     10443

[196 rows x 3 columns]

In [51]:
# Groupby
maximoAtenciones2=maximoAtenciones.groupby(['FirstName','LastName']).count()
maximoAtenciones2

                      OrderID
FirstName LastName
Andrew    Fuller           20
Anne      Dodsworth         6
Janet     Leverling        31
Laura     Callahan         27
Margaret  Peacock          40
Michael   Suyama           18
Nancy     Davolio          29
Robert    King             14
Steven    Buchanan         11

In [52]:
# Orden y seleccion
maximoAtenciones2.sort_values(['OrderID'],ascending=False).head(1)

                    OrderID
FirstName LastName
Margaret  Peacock        40


Equivalente SQL
SELECT O.OrderID, E.FirstName, E.LastName, count(OrderID) as Conteo FROM Orders as O
LEFT JOIN Employees as E ON O.EmployeeID=E.EmployeeID
GROUP BY E.FirstName, E.LastName
ORDER BY Conteo DESC
LIMIT 1;

### Actividad 2

In [72]:
# Ordenes por cliente

OrdenesPorCliente=orders[['CustomerID','OrderID']].groupby(['CustomerID']).count()
OrdenesPorCliente=OrdenesPorCliente.merge(customers[['CustomerID','CustomerName']],how='left',on='CustomerID')
OrdenesPorCliente=OrdenesPorCliente.rename(columns={'OrderID':'Conteo'})[['CustomerName','Conteo']]
OrdenesPorCliente

                           CustomerName  Conteo
0   Ana Trujillo Emparedados y helados        1
1              Antonio Moreno Taquería        1
2                      Around the Horn        2
3                   Berglunds snabbköp        3
4                 Blondel père et fils        4
..                                  ...     ...
69                      Wartian Herkku        7
70              Wellington Importadora        2
71                White Clover Markets        2
72                         Wilman Kala        1
73                              Wolski        1

[74 rows x 2 columns]