In [1]:
# Consultar: pipedream covid https://pipedream.com/@pravin/http-api-for-latest-wuhan-coronavirus-data-2019-ncov-p_G6CLVM/readme

import requests
import pandas as pd
import json

In [2]:
r = requests.get('https://coronavirus.m.pipedream.net')
r
# Python client

In [3]:
print(r)

<Response [200]>

In [11]:
data = json.loads(r.content)

## Metadata

In [17]:
df = pd.DataFrame(data['rawData'])

In [18]:
df.head(3)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,,,,Afghanistan,2023-03-10 04:21:03,33.93911,67.709953,209451,7896,,,Afghanistan,538.0424508714615,3.76985547932452
1,,,,Albania,2023-03-10 04:21:03,41.1533,20.1683,334457,3598,,,Albania,11621.96817012996,1.075773567304616
2,,,,Algeria,2023-03-10 04:21:03,28.0339,1.6596,271496,6881,,,Algeria,619.132365905185,2.534475646050034